<% @agrees.each do |agree| %>
<%# user = User.find(agree.user_id) %>
<% post = Post.find(agree.post_id) %>
<% user = User.find(post.user_id) %>
<% category = Category.find(post.category_id) %>
	<div class="post-card">
		<div class="category-tag-boxz">
			<%= link_to category_path(category.id) do %>
      			<button type="button" class="category-tag"><%= category.name %></button>
  			<% end %>
        </div>
		<div class="card-contents">
        	<div class="card-profile-img">
				<%= link_to user_path(user.id) do %>
					<%= attachment_image_tag user, :image, fallback: "no_image.jpg",:size => '83x83', class: "prolife-img img-circle" %>
				<% end %>
			</div>
			<div class="card-text">
				<div class="card-user-info">
					<p class="card-user-name"><strong><%= user.name %></strong></p>
					<p class="detale"><%= user.age %></p>
					<p class="detale"><%= user.gender_i18n %></p>
					<p class="detale"><%= user.profession %></p>
				</div>
				<p class="post-body"><%= post.body %></p>
			</div>
		</div>
		<div class="agree">
			<% if user_signed_in? %>
				<% if user == current_user %>
					<%= link_to post_path(post), method: :delete do %>
						<div class="back-btn">削除</div>
					<% end %>
					<p class="detale" style="font-weight: lighter;"><%= Agree.where(post_id:post.id).count %>人がAgreeしています</p>
				<% else %>
					<%# if post.agreed_by?(current_user) %>
					<% if Agree.exists?(user_id: current_user.id, post_id: post.id) %>
						<%= link_to post_agree_path(post.id), method: :delete do %>
							<div class="agree-btn-active">I agree!</div>
						<% end %>
						<p class="detale" style="font-weight: lighter;"><%= Agree.where(post_id:post.id).count %>人がAgreeしています</p>
					<% else %>
						<%= link_to post_agrees_path(post.id), method: :post do %>
							<div class="agree-btn">agree?</div>
						<% end %>
						<p class="detale" style="font-weight: lighter;"><%= Agree.where(post_id:post.id).count %>人がAgreeしています</i></p>
					<% end %>
				<% end %>
			<% else %>
				<%= link_to new_user_session_path do %>
					<div class="agree-btn">agree?</div>
				<% end %>
				<p class="detale" style="font-weight: lighter;"><%= Agree.where(post_id:post.id).count %>人がAgreeしています</p>
			<% end %>
  			</div>
		<div class="date-time">
			<i class="far fa-clock" style="color: #26A69A;"></i>
			<%= post.created_at.strftime('%Y年%m月%d日 %H:%M:%S') %>
		</div>
	</div>
<% end %>