<section>
	<div class="profile-mobile">
		<div class="profile-card">
			<%= attachment_image_tag @user, :image, fallback: "no_image.jpeg",:size => '150x150', class: "prolife-img img-circle" %>
			<h4><%= @user.name %></h4>
			<div class="user-info">
				<p><%= @user.age %></p>
				<p><%= @user.gender_i18n %></p>
			</div>
			<p><%= @user.profession %></p>
			<p>投稿<strong><%= Post.where(user_id: @user.id).count %></strong>件</p>
			<p>登録カテゴリ<strong><%= CategoryFollow.where(user_id:@user.id).count %></strong>件</p>
			<% if category_follow = present? %>
				<% @category_follows.each do |category_follow| %>
				<% category = Category.find(category_follow.category_id) %>
					<div class="category-tag-box">
						<%= link_to category_path(category.id) do %>
	              			<div type="button" class="category-tag"><%= category.name %></div>
	          			<% end %>
	          		</div>
          		<% end %>
			<% end %>
			<% if user_signed_in? %>
				<% if @user == current_user %>
					<%= link_to edit_user_path(current_user) do %>
		            	<div class="submit-btn profile-button"><p class="button-text">編集する</p></div>
		            <% end %>
	        	<% else %>
					<% if @user.followed_by? current_user %>
						<%= link_to user_follow_destroy_path(@user) do %>
						    <div class="profile-card-following-button">
						      	<p class="button-text">フォロー中</p>
						    </div>
		    			<% end %>
						<p class="detale" style="font-weight: lighter;"><%= @user.followers_count %>人がフォローしています</p>
					<% else %>
						<%= link_to user_follow_path(@user) do %>
		            		<div class="submit-btn follow-button"><p class="button-text">このユーザーを<br>フォローする<p></div>
	    				<% end %>
						<p class="detale" style="font-weight: lighter;"><%= @user.followers_count %>人がフォローしています</p>
					<% end %>
				<% end %>
			<% else %>
				<%= link_to new_user_session_path do %>
					<div class="category-button">
	            		<div class="submit-btn profile-button"><p class="button-text">このユーザーを<br>フォローする<p></div>
				    </div>
			    <% end %>
					<p class="detale" style="font-weight: lighter;"><%= @user.followers_count %>人がフォローしています</p>
			<% end %>
		</div>
	</div>
</section>
