<div class="band">	
	<div class="container">
		<div class="row">
			<div class="col-lg-10">
				<p>パスワード再登録</p>
			</div>
		</div>
	</div>
</div>
<div class="form-container">
	<div class="form-box post">
		<h2>Reset Password</h2>
		<%= bootstrap_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }, layout: :horizontal, control_col: "col-sm-12") do |f| %>
			<%= devise_error_messages! %>
			<%= f.label :email %><br />
	    	<%= f.email_field :email, autofocus: true, autocomplete: "email", hide_label: true, placeholder: "＠" %>
	    	<%= f.submit "メール送信", :class => "submit-btn" %>
			<%= link_to '戻る', :back, :class => "back-btn" %>
		<% end %>
	</div>
</div>
